.vscode-test-web/
.DS_Store
.pnpm-store
node_modules/
out/
obj/
*.s??
*.log
*.vsix
*.zip
*.env
dist/

*.orig
*.rej

.VSCodeCounter/

*.js
!/*.js
!webpack*.config.js
!jest*.config.js

*.c64
*.pet
*.nes
*.apple2
*.vic20

*.prg
*.d81
*.d64
*.lbl
*.dbg
*.map
*.run
*~
*.sf-*
*.testrun.*
.nyc_output/
coverage/
vicedir/
mesendir/
applewindir/

abcdef0123456789
