.DS_Store
.pnpm-store
node_modules/
out/
obj/
*.s??
*.log
*.vsix
*.zip
dist/

*.orig

*.rej

*.js
!webpack.*.config.js
*.c64
*.pet
*.prg
*.d81
*.d64
*.lbl
*.dbg
*.map
*~
.nyc_output/
coverage/
vicedir
