[submodule "3rdparty/c64ttf"]
	path = 3rdparty/c64ttf
	url = https://github.com/empathicqubit/c64ttf
[submodule "3rdparty/cc65"]
	path = 3rdparty/cc65
	url = https://github.com/empathicqubit/cc65
[submodule "3rdparty/mesen-binary-monitor"]
	path = 3rdparty/mesen-binary-monitor
	url = https://github.com/empathicqubit/mesen-binary-monitor
[submodule "3rdparty/applewin"]
	path = 3rdparty/applewin
	url = https://github.com/audetto/AppleWin
	branch = monitor
