# This is the directory that VICE is in. If this variable exists, the testing
# process will use VICE already installed on the system instead of downloading
# from SVN.
#VICE_DIRECTORY=
# This is the directory that AppleWin is in. If this variable exists, the testing
# process will use AppleWin already installed on the system instead of building
# from git.
#APPLEWIN_DIRECTORY=
# This is the test program to run. Change this to test a different emulator.
# C64 is the default.
#TEST_PROGRAM=/home/empathicqubit/vscode-cc65-debugger/src/__tests__/simple-project/program.pet
# The version of VICE to use when downloading from SVN (ignored if above var exists)
VICE_SVN_VERSION=trunk
