# This is the directory that VICE is in. If this variable exists, the testing
# process will use VICE already installed on the system instead of downloading
# from SVN.
#VICE_DIRECTORY=
# The version of VICE to use when downloading from SVN (ignored if above var exists)
VICE_SVN_VERSION=trunk
