/* Generic */
body, html {
    margin: 0;
    padding: 0;
}

input[type="text"], input[type="number"], select {
    border-radius: .25em;
    margin: .25em;
    padding: .1em;
}

label {
    white-space: nowrap;
}

input[type="radio"] {
    vertical-align: middle;
    background-color: var(--vscode-checkbox-background);
    color: var(--vscode-checkbox-foreground);
    border-color: var(--vscode-checkbox-border);
    border: 2px solid var(--vscode-checkbox-border);
    -webkit-appearance: none;
    width: 1.2em;
    height: 1.2em;
    border-radius: 100%;
    position: relative;

}

input[type="radio"]:checked:before {
    border-radius: 100%;
    background-color: var(--vscode-checkbox-foreground);
    content: "";
    display: block;
    width: calc(100% - .30em);
    height: calc(100% - .30em);
    margin: .15em;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
}

select {
    background-color: var(--vscode-dropdown-background);
    color: var(--vscode-dropdown-foreground);
    border: 2px solid var(--vscode-dropdown-border);
    border-radius: .25em;
}

option {
    background: var(--vscode-dropdown-listBackground);
}

input[type="text"], input[type="number"] {
    background-color: var(--vscode-input-background);
    color: var(--vscode-input-foreground);
    border: 2px solid var(--vscode-dropdown-border);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    background-color: var(--vscode-input-background);
    color: var(--vscode-input-foreground);
    opacity: 1;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: .1em;
}

label input[type="checkbox"] {
    -webkit-appearance: none;
    text-align: center;
    vertical-align: middle;
	background-color: var(--vscode-checkbox-background);
	color: var(--vscode-checkbox-foreground);
	border-color: var(--vscode-checkbox-border);
	border: 2px solid var(--vscode-checkbox-border);
	border-radius: .25em;
    margin-right: .75em;
    font-size: 1.5em;
	width: 1em;
	height: 1em;
	display: inline-block;
    line-height: 1em;
}

label input[type="checkbox"]:checked:before {
    content: "\2713";
}

button {
    background-color: var(--vscode-button-background);
    color: var(--vscode-button-foreground);
    border: none;
    border-radius: .25em;
    padding: .5em;
    line-height: 1em;
}

button:hover {
    background-color: var(--vscode-button-hoverBackground);
}

/* Tabs */
.react-tabs__tab-list {
    display: flex;
    background-color: var(--vscode-editorGroupHeader-tabsBackground);
    margin: 0;
    padding: .1em .5em 0;
    width: 100%;
    overflow-x: scroll;
    flex-shrink: 0;
}

.react-tabs {
    border: 2px solid var(--vscode-tab-border);
    border-radius: .25em;
}

.react-tabs__tab-list::-webkit-scrollbar {
    height: .2em;
}

.react-tabs__tab {
    cursor: pointer;
    display: block;
    padding: 1em;
    border-radius: .25em .25em 0 0;
    border: 2px solid var(--vscode-tab-border);
	background-color: var(--vscode-tab-inactiveBackground);
    color: var(--vscode-tab-inactiveForeground);
    border-bottom: none;
}

.react-tabs__tab--selected {
	background-color: var(--vscode-tab-activeBackground);
    color: var(--vscode-tab-activeForeground);
    flex-grow: 1;
}

.react-tabs__tab-panel--selected {
    padding: 1em;
    flex-grow: 1;
    overflow: scroll;
    position: relative;
}

/* Everything else */

.display-frame {
    padding: 0;
    margin: 0;
}

.display {
    position: relative;
}

.display img {
    width: 100%;
}

.display__rasterline {
    position: absolute;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    border-color: #f00;
}

.sprite {
	margin: .25em;
    height: 5em;
    width: 5em;
    display: inline-block;
}

.sprite canvas {
    width: 100%;
}

.sprite.disabled {
    opacity: 0.70;
}

.all-tabs {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.screentext code pre {
    font-family: "C64";
    font-size: calc(6px + 0.9vw);
}

.hider__info {
    top: -.5em;
    left: -.5em;
    position: relative;
}

.hider__content {
    padding: .5em;
    background-color: var(--vscode-settings-focusedRowBackground);
    border-radius: .25em;
    display: inline-block;
}

#memview__offset {
    width: 5em;
}

.memview__rawcontent {
    display: flex;
}

.memview__raw code {
    line-height: 1em;
    display: block;
}

.memview__screentext {
    border-left: 2px solid var(--vscode-textPreformat-background);
}

.memview__screentext pre {
    padding-top: 1em;
    font-family: "C64";
}

label[for="memview__multicolor"],
label[for="memview__offset"] {
    display: block;
}