name: Check

on:
  pull_request:
    branches:
        - master
  workflow_dispatch:
      inputs:
          ref:
              description: The git refspec to checkout
              required: true
              default: 'master'

jobs:
  build:

    runs-on: ubuntu-latest
    container: empathicqubit/vscode-cc65-vice-debug-build

    strategy:
      matrix:
          include:
              - vice_version:
                vice_directory: VICE_DIRECTORY=/vices/vice-3.5-build/src
              - vice_version: trunk
                vice_directory:

    steps:
    - uses: actions/checkout@v2
      with:
          ref: "${{ github.events.inputs.ref }}"
    - run: pnpm install --shamefully-hoist
    - run: ln -s $PWD/system /usr/local/share/vice
    - run: ln -s $PWD/system /usr/local/lib/vice
    - run: ln -s $PWD/system /usr/lib/vice
    - run: ln -s $PWD/system /usr/share/vice
    - run: ls -l /usr/local/share
    - run: VICE_SVN_VERSION=${{ matrix.vice_version }} ${{ matrix.vice_directory }} pnpm build:test test
