name: Generate

on:
  push:
    branches:
      - master

jobs:
  build:

    runs-on: ubuntu-18.04

    steps:
    - uses: actions/checkout@v3
      name: Checkout Code
    - name: release-please-action
      # You may pin to the exact commit or the version.
      # uses: google-github-actions/release-please-action@81fdb5157c2201f0927147dd6cb2dcb1f128e3d0
      uses: google-github-actions/release-please-action@v2.13.0
      with:
        # GitHub token for creating and grooming release PRs, e.g., secrets.GITHUB_TOKEN
        token: ${{secrets.REPO_GITHUB_TOKEN}}
        # name of the distributions releases are being created for, e.g., "name" in package.json, or "setup.py"
        package-name: cc65-vice
        # what type of release is this, one of (ruby, python, node, terraform-module)
        release-type: node
