name: Windows

on:
  workflow_dispatch:
      inputs:
          ref:
              description: The git refspec to checkout
              required: true
              default: 'master'

jobs:

  build:

    runs-on: windows-latest

    strategy:
      matrix:
          vice_version: ['tags/v3.5', 'trunk'] #Add versions here

    steps:
    - uses: actions/checkout@v3
      name: Checkout Code
      with:
          ref: "${{ github.events.inputs.ref }}"

    - run: git config --global core.autocrlf input
      shell: bash

    - name: Install GTK3 Dependencies if Applicable
      uses: msys2/setup-msys2@v2
      with:
        msystem: MINGW64
        update: true
        install: >-
          git
          base-devel
          mingw-w64-x86_64-toolchain
          zip
          subversion
          git
          mingw-w64-x86_64-pkg-config
          mingw-w64-x86_64-ntldd
          mingw-w64-x86_64-glew
          mingw-w64-x86_64-giflib
          mingw-w64-x86_64-lame
          mingw-w64-x86_64-libvorbis
          mingw-w64-x86_64-flac
          mingw-w64-x86_64-icoutils
          mingw-w64-x86_64-ffmpeg
          mingw-w64-x86_64-gtk3

    - name: Build VICE
      id: build
      shell: msys2 {0}
      run: |
        XA_VERSION=2.3.11

        if [ ! -e /usr/local/bin/xa65.exe ]
        then
          pushd /usr/local
          mkdir -p src
          cd src
          wget https://www.floodgap.com/retrotech/xa/dists/xa-${XA_VERSION}.tar.gz
          tar -xzf xa-${XA_VERSION}.tar.gz
          cd xa-${XA_VERSION}
          make mingw install
          cp /usr/local/bin/xa.exe /usr/local/bin/xa65.exe
          popd
        fi

        svn checkout svn://svn.code.sf.net/p/vice-emu/code/${{ matrix.vice_version }} ./vicedir

        cd ./vicedir/vice
        ./autogen.sh
        ./configure --enable-headlessui --disable-arch --disable-pdf-docs --disable-ethernet --disable-cpuhistory
        cat Makefile ../../Makefile.fragment > Makefile.new
        mv Makefile.new Makefile
        make -j$(nproc) -s
        make bindist

    - run: choco install nodejs-lts
    - run: choco install winvice-nightly cc65-compiler svn make python3
    - run: pip3 install --user fonttools
    - run: npm install -g pnpm
    - run: pnpm install --shamefully-hoist
    - run: mkdir dist
    - run: pnpm tisk
    - run: pnpm nonjs
    - run: $env:VICE_DIRECTORY="$((Get-Item ./vicedir/vice/GTK3*/bin).FullName)"; pnpm mocha:prepublish
    - run: unzip -l cc65-vice*.vsix
